[submodule "lib/ansible/modules/core"]
	path = lib/ansible/modules/core
	url = git@github.com:Health123/ansible-modules-core.git
	branch = s3_list_v2
[submodule "lib/ansible/modules/extras"]
	path = lib/ansible/modules/extras
	url = git@github.com:health123/ansible-modules-extras.git
	branch = s3_list_v2
[submodule "v2/ansible/modules/core"]
	path = v2/ansible/modules/core
	url = git@github.com:Health123/ansible-modules-core.git
	branch = s3_list_v2
[submodule "v2/ansible/modules/extras"]
	path = v2/ansible/modules/extras
	url = git@github.com:health123/ansible-modules-extras.git
	branch = s3_list_v2
